*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.big{
    width: 100%;
    height: 100vh;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
#vector{
    width: 1.4vw;
    height: 3vh;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-image: url("Vector.png");
    background-size: cover;
}

.small{
    width: 500px;
    height: 636px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.small-div{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.small-div:first-child label{

    margin-bottom: 60px;

}
.small-div span{
    font-family: Noah;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-left: 10px;
}

.small-div :is(input){
    width: 460px;
    height: 60px;
    border: 0;
    background: #F2F2F2;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 10px;
}
.small button{
    width: 460px;
    height: 60px;
    background: #CCCCCC;
    border-radius: 8px;
    border: 0;
    margin-bottom: 20px;
    transition: 0.3s;
    color: #fff;
    font-size: 24px;
    

}
.small button:hover {
    background: #FC9208;
    transition: 0.5s;
}
